{
  "all": "true",
  "reporter": ["lcov", "text-summary"],
  "exclude": [
    "**.js",
    "**/*.d.ts",
    "src/test/**",
    "node_modules",
    "coverage",
    "src/configs/**",
    "src/main.ts"
  ]
}
